---
title: Portfolio
layout: no-style
permalink: /portfolio/
menu: true
---

{% assign projects  = site.data.projects2 | sort: 'order' %}
{% assign images 	= site.data.images | sort: 'order' %}

<main class="portfolio-wrapper">
	<!-- modal -->
	<div class="portfolio-modal">
		<div class="portfolio-modal__button">&times;</div>
		<section class="portfolio-modal__pic-wrapper">
			<img class="portfolio-modal__img" src="" alt="">
			<p class="portfolio-modal__caption">
		</section>
	</div>

	<!-- main content of portfolio -->
	<main class="portfolio-main-content">
		<!-- title -->
		<header class="portfolio__big-title">
			<h1>Portfolio</h1>
		</header>

		<!-- project gallery -->
		<section class="portfolio__gallery">
			{% for project in projects %}
			<article class="portfolio-gallery__project">
				<section class="portfolio-proj__title">
					<h2 class="portfolio-title__role">{{ project.role }}</h2>
					<h2 class="portfolio-title__name">
						<span>{{ project.site-name }}</span>,
						<span>{{ project.work-done }}</span>
					</h2>
				</section>

				<section class="portfolio-item__pics">
					<ul class="portfolio-pics__pics-wrapper">
						{% for proj in images %} <!-- look at all image objects -->
						{% if proj.order == project.order %} <!-- pick the one matching current order -->
						{% for pic in proj.pics %} <!-- loop through all listed pics -->
						<li class="portfolio-pics__pic">
							{% assign picorig = 'assets/img/screenshots/' | append: proj.folder | append: '/' | append: pic.image | relative_url %}
							{% assign picsmall = 'assets/img/screenshots/' | append: proj.folder | append: '/' | append: pic.small | relative_url %}
							{% assign picmed = 'assets/img/screenshots/' | append: proj.folder | append: '/' | append: pic.medium | relative_url %}
							<img
							srcset="{{ picsmall }} 400w,
								    {{ picmed }} 800w"
							src="{{ picorig }}"
							alt="{{ pic.alt }}"
							class="portfolio-pics__img"
							title="{{ pic.alt }}"
							aria-label="{{ pic.alt }}"> <!-- end img tag -->
						</li>
						{% endfor %}
						{% endif %}
						{% endfor %}
					</ul>
				</section>

				<section class="portfolio-item__metadata">
					<h3 class="portfolio-meta__title">Information:</h3>
					<ul class="portfolio-meta__content">
						<li>
							<span>When:</span>
							<span>{{ project.when }}</span>
						</li>
						<li>
							<span>Role:</span>
							<span>{{ project.full-role }}</span>
						</li>
						<li>
							<span>What:</span>
							<span>{{ project.description }}</span>
						</li>
						<li>
							<span>Visit:</span>
							<span><a href="{{ project.url }}">{{ project.site-name }}</a></span>
						</li>
					</ul>
				</section>

			</article>
			{% endfor %}
		</section>
	</main>
</main>