---
layout: new-default
---

<main class="home">
	
	<section class="home__page-1">
		<div class="home-1__content-wrapper">
			<div class="home-1__text-wrapper">
				<h1 class="home-1__page-title">Katherine<span><br/></span> Donnally</h1>
				<h2 class="home-1__subtitle">Designer &<span><br/></span> Ecosocialist</h2>
			</div>

			<section class="home-1__arrow">
				{% include down-arrow-black.svg %}
			</section>
		</div>
		
	</section>

	<section class="home__page-2">
		<!-- portfolio -->
		<article class="home-2__portfolio">
			<h2 class="home-portfolio__title"><a href="{{ '/portfolio' | relative_url}}">Portfolio</a></h2>
			<h4 class="home-portfolio__subhed">A smattering of projects & experiments to explore.</h4>
		</article>

		<!-- blog -->
		<article class="home-2__blog">
			<div class="home-blog__title-wrapper">
				<h2 class="home-blog__title"><a href="{{ '/blog' | relative_url}}">Blog</a></h2>
				<h4 class="home-blog__subhed">See below for more specific topics.</h4>
			</div>
			<section class="home-blog__tech">
				<h3 class="home-blog__tech-title"><a href="#">Tech</a></h3>
				<h4 class="home-blog__tech-subhed">Fun with CSS, JavaScript, HTML, & Python</h4>
			</section>
			<section class="home-blog__politics">
				<h3 class="home-blog__politics-title"><a href="#">Politics</a></h3>
				<h4 class="home-blog__politics-subhed">Commentary & Analysis<br/><br/><span><br/></span></h4>
			</section>
		</article>

		<article class="home-2__intake">
			<div class="home-intake__title-wrapper">
				<h2 class="home-intake__title"><a href="{{ '/intake' | relative_url}}">Intake</a></h2>
				<h4 class="home-blog__intake-subhed">Need a web designer? Hire me!</h4>
			</div>
		</article>
	</section>

	<section class="home__page-3">
		<section class="home__contact">
			<h2 class="home-contact__title">Contact</h2>
			<article class="home-contact__content">
				<div class="home-contact__flex-wrapper">
				{% assign contacts = site.data.contact | sort: 'order' %}
				{% for contact in contacts %}
				<ul class="home-contact__row">
					<li class="home-contact__svg"><img alt="{{ contact.type }}" title="{{ contact.type }}" src="{{ contact.img | relative_url }}"></li>
					<li class="home-contact__type">{{ contact.type }}:</li>
					<li class="home-contact__user"><a href="{{ contact.url }}">{{ contact.username }}</a></li>
				</ul>
				{% endfor %}
				</div>
			</article>
		</section>
	</section>

</main>