/* Fonts */

// Google:
$poppins: 'Poppins', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// Adobe:]
$source-sans: source-sans-pro, sans-serif;
$futura: futura-pt, sans-serif;
$futura-bold: futura-pt-bold, sans-serif;
$acier-bat-gris: acier-bat-gris, sans-serif;
