// CSS Tricks' solution:

li {
	display: block;
	transition-duration: .5s;
}

li:hover { 
	cursor: pointer
}

ul li ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: all .5 ease;
	margin-top: 1rem;
	left: 0;
	display: none;
}

ul li:hover > ul,
ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

ul li ul li {
	clear: both;
	width: 100%;
}

// Tweaks I'm adding:

ul {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 1rem 1.5rem;
}

ul li ul  {
	position: relative;
	right: 0;
}

ul.dropdown {
	margin: 0;
	padding: 0;
	li {
		width: 97.64px;
	}
}

li.dropdown-wrapper {
	text-align: right;
}

//ul li ul li:nth-of-type(2) {
//	text-align: left;
//}

/* li.dropdown-home {
	padding: 1rem .5rem;
	background-color: lavender;
} */

ul {
	height: 56px;
	background-color: black;
}

.dropdown-home, .dropdown-wrapper {
	svg {
		height: 24px;
	}
}

.dropdown-home {
	padding: 0 .5rem;
	background-color: black;
	svg {
		height: 28px;
	}

}

.dropdown-wrapper {
	position: relative;
	padding: 0 .5rem;
	padding-bottom: 1rem;
	margin-bottom: 8px;
	min-height: 24px;
	background-color: black;
	a:first-of-type {
		display: block;
		height: 56px;
	}
	svg {
		height: 28px;
	}
}

.dropdown {
	position: absolute;
	right: 0;
	margin-top: 24px;
	background-color: black;
	///transform: translateY(1rem);
	li {
		position: relative;
		right: 0;
		height: 40px;
		display: block;
		padding: .5rem;
		padding-left: .5rem;
		font-family: $futura;
		text-align: left;
		background-color: black;
		transform: translateX(-1.6rem) translateY(-1rem);
		border-top: 1px solid $medgray;
		a {
			color: white;
		}
	}
}

