/* New Home (purple and black styles): */

[class*="nh__"], [class*="nh-"] {
	font-family: $futura;
	p {
		font-family: $source-sans;
	//	color: black;
	}
	a {
		color: $textgray;
		border-bottom: 2px solid $mypurple;
		transition: background-color .3s;
		&:hover, &:focus {
			color: black;
			background-color: $mypurple;
		}
	}
}

// Navigation //

.nh__nav {
	height: 3rem;
	width: 100%;
	background-color: $mypurple
}

// Page 1 //g

.nh__page1 {
	height: calc(100vh - 3rem);
	display: flex;
	justify-content: center;
	align-items: center;
}

.nh-p1__content-wrapper {
	// border-bottom: 2px solid black;
}

[class*="nh-p1__"] {
	font-family: $futura-bold;
	line-height: 1;
}

.nh-p1__name {
	font-size: 5rem;
	border-bottom-width: 0px;
	margin-bottom: 0;
	color: $mypurple;
}

.nh-p1__title {
	margin: 0;
	font-size: 5rem;
	border-bottom-width: 0px;
}

.nh-p1__text {
	margin: 0;
	padding: .5rem 0;
	font-family: $futura;
	font-size: 2.5rem;
	text-transform: uppercase;
	border-top: 2px solid $mypurple;
//	border-bottom: 2px solid $mypurple;
}

// Page 2 //

.nh__page2 {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	height: 100vh;
	border: 1.5rem solid $mylightgray;
//	border-bottom-width: 0;
}

.nh-p2__title {
	font-size: 4rem;
	margin: 0 auto;
	margin-top: 3rem;
	text-align: center;
	border-width: 0px;
	border-bottom: 2px solid $mypurple;
}

.nh-p2__options {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
	margin-bottom: 4.5rem;
	padding: 0 8.33%;
}

[class*="nh-options__option"] {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25vw;
	height: 25vw;
	border: 2px solid $mypurple;
	border-radius: 50%;
	transition: color .3s background-color .3s;
	&:hover, &:focus {
		background-color: $textgray;
		cursor: pointer;
		* {
			color: white;
		}
	}
}

.nh-options__option-1 {

}

.nh-options__option-2 {

}

.nh-options__option-3 {

}

.nh-options__text {
	max-width: 25vw;
	font-size: 28px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	color: $textgray;
	transition: color .3s;
	&:hover, &:focus {
		color: white;
	}
}

// Page 3 //

.nh__page3 {
	height: 100vh;
	background-color: $mylightgray;
}

.nh-p3__content-wrapper {
	height: calc(100vh - 2rem);
	margin: 1.5rem;
	margin-top: 0;
	padding: 3rem;
	background-color: white;
//	border-radius: 16px;
}

.nh-p3__title {
	margin-top: 0;
	font-size: 4.5rem;
	font-style: italic;
	border-bottom: 2px solid $mypurple;
}

[class*="nh-p3__text"] {
	width: 87.5%;
	p {
		font-size: 24px;
	}
}

.nh-p3__text--hide {
	display: none;
}

// Page 4 //

.nh__page4 {
	height: 100vh;
	margin-top: .75rem;
}

[class*="nh-p4__line--"] {
	height: 2px;
	margin: calc(.75rem - 1px) auto;
	background-color: $mypurple;
}

.nh-p4__line--short {
	width: 75%;
}

.nh-p4__line--long {
	width: 83.33%;
}

.nh-p4__link {
	margin: 0;
	font-size: 4.5rem;
	text-align: center;
	border-bottom-width: 0px;
	a {
		border-bottom-width: 0px;
	}
}

// Footer //

.nh-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
	width: 100%;
	padding: 1.5em;
	background-color: black;
}

.nh-footer__content-wrapper {
	width: calc(100% - 1.5em);
	padding: 1em 0;
	padding-left: 1.5em;
	border-top: 2px solid $mypurple;
	border-bottom: 2px solid $mypurple;
}

[class*="nh-footer__link"] {
	margin: 0;
	line-height: 1.4;
	a {
		border-bottom-width: 0px;
	}
}

.nh-footer__link--name {
	a {
		color: $mypurple;

	}
}

.nh-footer__link {
	a {
		color: white;
		&:hover, &:focus {
			background-color: white;
		}
	}
}