/* New Home Styles: */

.home {
	a {
		color: black;
		transition: color .2s;
		&:hover, &:focus {
			color: $isabelline;
		}
	}
	h2 {
		font-family: $acier-bat-gris;
	}
}

.home__page-1 {
	height: 100vh;
	display: flex;
	align-content: center;
	justify-content: center;
	font-family: $acier-bat-gris;
//	font-weight: 900;
}

.home-1__content-wrapper {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
//	width: 100vw;
	margin: 0;

}

.home-1__text-wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 1rem 2rem;
	background-color: $pale-gold;
	border: 4px solid $jet;
	@media screen and (max-width: 500px) {
		margin: 1rem;
	}
	@media screen and (min-width: 768px) {
		padding: 3rem 4rem;
	}
}

.home-1__page-title {
	font-family: $futura;
	font-weight: 900;
	border-width: 0;
	@media screen and (min-width: 768px) {
		font-size: 4rem;
	}
}

.home-1__subtitle {
	font-family: $montserrat;
	font-weight: 900;
	text-transform: uppercase;
	@media screen and (min-width: 768px) {
		font-size: 3rem;
	}
}

/* Page 2: */

.home__page-2 {
	display: grid;
	grid-template-areas: 'portfolio'
						 'blog';
	min-height: 100vh;
	font-family: $montserrat;
	font-weight: 900;
	color: $jet;
	border: 4px solid $jet;
	h2 {
		font-size: 3rem;
		font-weight: 900;	
	}
	h3 {
		font-size: 2.25rem;
		font-family: $acier-bat-gris; // $futura-bold;
		font-weight: 900;
		a {
			font-weight: 900;
		}
	}
	h4 {
		font-family: $montserrat;
		font-weight: 400;
		font-style: italic;
	}
	
	text-transform: uppercase;
	@media screen and (min-width: 768px) {
		grid-template-areas: 'portfolio blog';
		grid-template-columns: 1fr 1fr;
		h2 {
			font-size: 4rem;	
		}
		h3 {
			font-size: 2.25rem;
		}
	}
}

.home-2__portfolio {
	grid-area: portfolio;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	font-family: $montserrat;
	font-weight: 900;
	border-right: 4px solid $jet;
	background-color: $mylavender;
	a {
		font-weight: 900;
	}
}

.home-portfolio__title {
	font-family: $montserrat;
	font-weight: 900;
	a {
		color: black;
		padding: 1rem;
		transition: border-width .2s;
		&:hover, &:focus {
			border: 2px solid black;
		}
	}
}

.home-portfolio__subtitle {
	display: none;
}

.home-2__blog {
	grid-area: blog;
	display: grid;

	grid-template-areas: 'blog'
						 'politics'
						 'tech';
	justify-content: center;
	font-family: $acier-bat-gris;
	font-weight: 900;
	a {
		font-weight: 900;
	}
	@media screen and (min-width: 600px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: 'blog blog'
						 	 'tech politics';
		height: 100vh;
		text-align: center;
	}
}

.home-blog__title-wrapper {
	grid-area: blog;
	height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $khaki;
	@media screen and (min-width: 600px) {
		height: 50vh;
	}
}

.home-blog__title {

}

.home-blog__tech {
	grid-area: tech;
	height: 25vh;
//	border: 1px solid purple;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	background-color: $fuchsia; // $tea-rose;
	border-right: 4px solid $jet;
	border-top: 4px solid $jet;
	@media screen and (min-width: 600px) {
		height: 50vh;
		padding: 0 2rem;
	}
}

.home-blog__tech-title {
	font-family: $futura;
}

.home-blog__tech-subhed {

}

.home-blog__politics {
	grid-area: politics;
	height: 25vh;
	padding: 0 1rem;
//	border: 1px solid purple;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background-color: $robinsegg; // $rose-quartz;
	border-top: 4px solid $jet;
	@media screen and (min-width: 600px) {
		height: 50vh;
		padding: 0 2rem;
	}
}

.home-blog__politics-title {

}

.home-blog__politics-subhed {

}

.home__page-3 {
 // filled with the 'na' content
}

// From 'New About' page:

.home__contact {

}

.home-contact__title {

}

.home-contact__content {

}

.home-contact__row {

}

.home-contact__svg {

}

.home-contact__type {

}

.home-contact__user {

}

// Contact //

.home__contact {
	width: 83.33%;
	margin: 0 auto;
	margin-bottom: 1.5rem;
	font-family: $montserrat;
	font-weight: 900;
	@media screen and (max-width: 425px) {
		width: 91.67%;
	}
	@media screen and (min-width: 1440px) {
	//	max-width: 75%;
	}
}

.home-contact__title {
// covered above
	font-family: $montserrat;
	font-weight: 900;
	text-transform: uppercase;
}

.home-contact__content {

}

// ul
.home-contact__row {
	position: relative;
	display: flex;
	align-items: center;
	list-style-type: none;
	padding-left: 0;
}

.home-contact__svg {
	display: flex;
	align-items: center;
	padding-right: 1.5rem;
	img {
		height: 2rem;
	}
	@media screen and (min-width: 1440px) {
		img {
			height: 39px;
		}
	}
}

.home-contact__type {
	width: 5.5rem;
	font-family: $montserrat;;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.4;
	@media screen and (max-width: 425px) {
		width: 5rem;
		font-size: 18px;
	}
	@media screen and (min-width: 1440px) {
		width: 6.5rem;
		font-size: 24px;
	}
}

.home-contact__user {
	font-family: $montserrat;
	font-size: 20px;
	line-height: 1.4;
	a {
		font-weight: 400;
		color: black;
		border-bottom: 2px solid $shampoo;
		transition: background-color .3s;
		&:hover, &:focus {
			color: black;
			background-color: $shampoo;
		}
	}
	@media screen and (max-width: 425px) {
		font-size: 18px;
	}
	@media screen and (min-width: 1440px) {
		font-size: 24px;
	}
}