/* New Menu: */

// Wrapper //

.menu-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	height: 52px;
	width: 100%;
	background-color: black;
	z-index: 500;
	@media screen and (min-width: 768px) {
	///	height: 56px;
	}
	@media screen and (min-width: 1440px) {
		height: 60px;
		a {
			font-size: 1.25rem;
		}
	}
}
 
.menu-content-wrapper {
	width: 100%;
}

/* .menu__icon-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100vw;
} */

// Home button //

/*.menu-wrapper li {
	display: block;
	transition-duration: .5s;
}

.li:hover {
	cursor: pointer;
}

li ul li {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: all .5s ease;
	left: 0;
	display: none;
}

ul li:hover > ul,
ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

ul li ul li {
	clear: both;
	width: 100%;
}

*/

.menu__home-link {
	position: relative;
	left: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	a {
		display: flex;
		align-items: center;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		font-family: $futura;
		font-weight: 700;
		line-height: 1;
		color: white;
		transition: color .3s, background-color .3s, stroke .3s, fill .3s;
		&:hover, &:focus {
			background-color: black;
			border-bottom-width: 0;
			transition: stroke .3s, fill .3s;
			.st0 {
					stroke: white;
					fill: white;
			}
		}
		img, svg {
			height: 1.5rem;
			transition: stroke .3s, fill .3s;
			&:hover, &:focus {
				.st0 {
					stroke: white;
					fill: white;
				}
			}
			@media screen and (min-width: 768px) {
				height: 1.75rem;
			}
			@media screen and (min-width: 1200px) {
				height: 2rem;
			}
		}
	}
}

.menu__hamburger-link {
	position: relative;
	top: 20%;
	right: 0;
	justify-self: flex-end;
	display: flex;
	align-items: center;
	height: 1.5rem;
	transition: stroke .3s, fill .3s;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	svg {
		height: 100%;
	}
	&:hover, &:focus {
		right: 0;
		.st0 {
			stroke: white;
			fill: white;
		}
	}
	@media screen and (min-width: 768px) {
		height: 1.75rem;
	}
	@media screen and (min-width: 1200px) {
		height: 2rem;
	}
	div {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
}

// Pages //

.menu__page-list {
	position: absolute;
	right: 0;
	top: 0;
//	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	display: none;
}

.menu__page-list--show {
	position: relative;
	right: 0;
	top: 0;
	// bottom: 0;
	display: flex;
	flex-flow: column nowrap;
//	margin-top: 90px;
}

.menu-list__item {
	background-color: black;
//	border: 1px solid white;
	width: 90px;
	a {
		margin-right: 1.5rem;
		font-family: $futura-bold;
		font-weight: 700;
		color: $mylavender;
		transition: color .3s background-color .3s;
		&:hover, &:focus {
			color: black;
			background-color: $mylavender;
			border-bottom-width: 0;
		}
	}
}