/* New Menu: */

// Wrapper //

.menu-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	height: 52px;
	width: 100%;
	background-color: black;
	z-index: 500;
	@media screen and (min-width: 768px) {
	///	height: 56px;
	}
	@media screen and (min-width: 1440px) {
		height: 60px;
		a {
			font-size: 1.25rem;
		}
	}
}

// Home button //

.menu__home-link {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	a {
		display: flex;
		align-items: center;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		font-family: $futura;
		font-weight: 700;
		line-height: 1;
		color: white;
		transition: color .3s, background-color .3s, stroke .3s, fill .3s;
		&:hover, &:focus {
			background-color: black;
			border-bottom-width: 0;
			transition: stroke .3s, fill .3s;
			.st0 {
					stroke: white;
					fill: white;
			}
		}
		img, svg {
			height: 1.5rem;
			transition: stroke .3s, fill .3s;
			&:hover, &:focus {
				.st0 {
					stroke: white;
					fill: white;
				}
			}
			@media screen and (min-width: 768px) {
				height: 1.75rem;
			}
			@media screen and (min-width: 1200px) {
				height: 2rem;
			}
		}
	}
}

// Pages //

.menu__page-list {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

.menu-list__item {
	a {
		margin-right: 1.5rem;
		font-family: $futura-bold;
		font-weight: 700;
		color: $mylavender;
		transition: color .3s background-color .3s;
		&:hover, &:focus {
			color: black;
			background-color: $mylavender;
			border-bottom-width: 0;
		}
	}
}