---
title: Blog
layout: new-default
permalink: /blog/
menu: true
order: 4
---

<main class="blog-wrapper">

<section class="blog__title">
	<h1 class="blog-title__text">Blog</h1>
	<div class="blog-title__line--left"></div>
	<div class="blog-title__line--right"></div>
	<div class="blog-title__line--left"></div>
</section>

<section class="blog__categories">
	<button class="blog-cats__tech">Technology</button>
	<button class="blog-cats__politics">Politics</button>
	<button class="blog-cats__all">Show All</button>
</section>

<main class="blog__post-list">
	{% for post in site.posts %}
	<article class="blog-posts__post post-cat__{{ post.categories[0] }}">
		<h2 class="blog-post__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<h4 class="blog-post__meta">Posted {{ post.date | date: "%b. %-d, %Y"}} <span><br/></span>// tags:
			<ul class="post-meta__tags">
				{% for cat in post.categories %}
				<li class="post-meta__tag">{{ cat }}</li>
				{% endfor %}
			</ul>
		</h4>
		<section class="blog-post__read-more">
			<div class="post-read__excerpt">
				{{ post.excerpt | strip_html | truncatewords: 35 }}
			</div>
			
			<a class="post-read__more" href="{{ post.url }}">Read More >></a>
		</section>
	</article>
	{% endfor %}
</main>
</main>